/* font-family: 'Comfortaa',
cursive;
font-family: 'Roboto Mono',
monospace; */

:root {
        --main-color: #3D2E4F;
        --hover-color: #3B3761;
        --text-background-color: #222222;
        --header-font: 'Comfortaa', cursive;
        --primary-font: 'Roboto Mono',
            monospace;
}

body {
    background-color: #1e1e1e;
}

h1 {
    font-family: var(--header-font);
    font-size: 70px;
    color: white;
    margin-bottom: 20px;
}

h2 {
    font-family: var(--primary-font);
    font-size: 35px;
    color: white;
    margin-bottom: 20px;
}

h3 {
    font-family: var(--header-font);
    color: white;
    text-align: center;
    font-size: 50px;
}

p {
    font-family: var(--primary-font);
    color: white;
    font-size: 25px;
    line-height: 80px;
}

button {
    background-color: var(--main-color);
    border: none;
    border-radius: 15px;
    padding: 25px 40px;
    font-size: 30px;
    transition: all 200ms ease-in-out;
    margin: auto;
}

button:hover {
    background-color: var(--hover-color);
}

a {
    font-family: var(--primary-font);
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

.hero {
    background-color: var(--text-background-color);
    border-radius: 10px;
    margin: 60px;
    padding: 20px 10px;
}

.work-inquiry {
    background-color: var(--text-background-color);
    border-radius: 10px;
    padding: 20px;
}

.hero-text {
    margin: auto;
}

.developer-photo {
    border-radius: 15px;
}

.paragraphs {
    margin: 0 auto;
    padding: 40px 10%;
}

.about-me {
    padding-top: 40px;
}

.about-headline-text {
    text-align: center;
    margin: 30px;
}

.about-paragraphs {
    line-height: 75px;
    text-align: justify;
}

.about-bottom-half {
    margin-top: 100px;
}

.racoon-img {
    border-radius: 50%;
}

.insta-link {
    color: var(--main-color);
    transition: 200ms all ease-in-out;
}

.insta-link:hover {
    color: var(--hover-color);
    text-decoration: underline;
}

@media (max-width:765px) and (min-width: 320px) {
    h1 {
        font-size: 40px;
        margin: 10px;
    }

    h2 {
        font-size: 20px;
        margin: 20px 10px;
    }

    h3 {
        font-size: 30px;
    }

    p {
        font-size: 15px;
        line-height: 30px;
    }

    button {
        font-size: 15px;
        padding: 10px 20px;
        margin: auto;
    }

    .about-me {
        padding: none;
    }

    .about-paragraphs {
        line-height: 35px;
        margin: 0 10px ;
    }

    .hero {
        margin: 10px;
        padding: 10px;
    }

    .work-inquiry {
        margin: 10px;
        padding: 10px;
    }

    .hero-text {
        text-align: center;
    }

    .paragraphs {
        padding: 10px 30px;
        text-align: justify;
    }
}

@media (max-width:1025px) and (min-width:766px) {
    h1 {
            font-size: 45px;
            margin: 10px;
        }
    
        h2 {
            font-size: 25px;
            margin: 10px;
        }
    
        h3 {
            font-size: 35px;
            padding-bottom:30px;
        }
    
        p {
            font-size: 20px;
            line-height: 35px;
        }
    
        button {
            font-size: 20px;
            padding: 15px 25px;
            margin: 0 auto;
        }
    
        .hero {
            margin: 10px;
            padding: 10px;
        }

        .work-inquiry {
            margin: 10px;
            padding: 20px;
        }
    
        .hero-text {
            text-align: center;
        }
    
        .paragraphs {
            padding: 10px 30px;
            text-align: justify;
        }
}

@media (max-width: 1300px) and (min-width:1026px) {
h1 {
        font-size: 55px;
        margin: 10px;
    }

    h2 {
        font-size: 30px;
        margin: 10px;
    }

    h3 {
        font-size: 45px;
        padding-bottom: 30px;
    }

    p {
        font-size: 23px;
        line-height: 35px;
    }

    button {
        font-size: 20px;
        padding: 20px 35px;
        margin: 0 auto;
    }

    .hero {
        margin: 10px;
        padding: 10px;
    }

    .work-inquiry {
        margin: 10px;
        padding: 20px;
    }

    .hero-text {
        text-align: center;
    }

    .paragraphs {
        padding: 10px 50px;
        text-align: justify;
    }
}